* {
    font-family: 'Nanum Myeongjo', serif;
}

.bg {
    background-size: cover;
    background: url(steinsbg.jpg) repeat center fixed;
    height: 100%;
}

.bg-black{
    background: black;
    border-radius: 3px;
}
