@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~mdbreact/dist/css/mdb.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";

@import "layout";
@import "navbar";


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.NanumMyeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

.HomemadeApple {
  font-family: 'Homemade Apple', cursive;
}

.NoOutline:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

